<div class="projects">
    <img id="blob1" src="assets/blueBlob1.png">
    <div class="textInBlob">
        Meus projetos
    </div>
    <img id="blob5" src="assets/blueBlob5.png">
    <div class="header">
        <a id="link" routerLink="">Home</a>
        <a id="link" routerLink="/about">Sobre</a>
        <a id="link" routerLink="/projects">Projetos</a>
        <a id="link" routerLink="/resume">Currículo</a>
    </div>
    <div class="body">
        <div class="cardGroup">
            <div class="card">
                <div class="row card-body">
                    <div class="col-sm-6">
                        <span id="title">Projeto 1</span>
                        <span id="text"> blablablablalbalblablablablablalbalblablablablablalbalblablablablablalbalblablablablablalbalbla</span>
                    </div>
                    <img class="col-sm-6 text-right" src="assets/pjtmock.png" id="cardImg">
                </div>
            </div>
            <div class="card">
                <div class="row card-body">
                    <div class="col-sm-6">
                        <span id="title">Projeto 2</span>
                        <span id="text"> blablablablalbalblablablablablalbalblablablablablalbalblablablablablalbalblablablablablalbalbla</span>
                    </div>
                    <img class="col-sm-6 text-right" src="assets/pjtmock.png" id="cardImg">
                </div>
            </div>
        </div>
    </div>
</div>