<div class="projects">
    <img id="blob1" src="assets/blueBlob1.png">
    <div class="textInBlob">
        Meus projetos
    </div>
    <img id="blob2" src="assets/blueBlob2.png">
    <img id="blob3" src="assets/blueBlob3.png">
    <img id="blob4" src="assets/blueBlob4.png">
    <img id="blob5" src="assets/blueBlob5.png">
    <div class="header">
        <a id="link" routerLink="">Home</a>
        <a id="link" routerLink="/about">Sobre</a>
        <a id="link" routerLink="/projects">Projetos</a>
        <a id="link" routerLink="/resume">Currículo</a>
    </div>
    <div class="body">
        <div class="cardGroup">
            <div class="card">
                <div class="row card-body">
                    <div class="col-sm-6">
                        <span id="title">Projeto em andamento</span><br>
                        <span id="text">Este projeto ainda está em desenvolvimento, na fase de protótipo. Se trata de um gerenciador de finanças, onde é possível inserir seu salário, dívidas, contas, com a prioridade de cada item, tendo uma maneira mais fácil de otimizar os gastos mensais!</span>
                        <div class="buttons">
                            <a role="link" aria-disabled="true"><img src="assets/githubicon.png" id="cardButtonGit"></a>
                            <a role="link" aria-disabled="true"><img src="assets/openSiteIcon.png" id="cardButtonOpen"></a>
                        </div>
                    </div>
                    <img src="assets/econImg.png" class="col-md-6 text-right" id="cardImg">
                </div>
            </div>
            <div class="card">
                <div class="row card-body">
                    <div class="col-sm-6">
                        <span id="title">Página de divulgação para banda</span><br>
                        <span id="text">Um site criado para divulgar o lançamento de um álbum, feito a pedido de um grupo musical pequeno, contendo as redes sociais e links individuais para cada música deles.</span>
                        <div class="buttonsAug">
                            <a href="https://github.com/daneilhpp/AUGMNTD" target="_blank"><img src="assets/githubicon.png" id="cardButtonGit"></a>
                            <a role="link" aria-disabled="true"><img src="assets/openSiteIcon.png" id="cardButtonOpen"></a>
                        </div>
                    </div>
                    <img src="assets/augImg.png" class="col-md-6 text-right" id="cardImg">
                </div>
            </div>
            <div class="card">
                <div class="row card-body">
                    <div class="col-sm-6">
                        <span id="title">TCC - AmetistaPetz</span><br>
                        <span id="text">TCC realizado no curso de Análise e Desenvolvimento de Sistemas. O propósito do site é facilitar a vida de donos de pets, colocando documentos e funções em apenas um ambiente digital. Projeto quase completo, faltando apenas implementar login do usuário.</span>
                        <div class="buttons">
                            <a href="https://github.com/daneilhpp/AmetistaPetzFront-TCC" target="_blank"><img src="assets/githubicon.png" id="cardButtonGit"></a>
                            <a role="link" aria-disabled="true"><img src="assets/openSiteIcon.png" id="cardButtonOpen"></a>
                        </div>
                    </div>
                    <img src="assets/aPetzImg.png" class="col-md-6 text-right" id="cardImg">
                </div>
            </div>
        </div>
        <div class="textBox1">
            <span id="dots">...</span><br><br>
            E ainda há muito mais por vir!
        </div>
    </div>
    <div class="footer">
        <div class="text">
            Projetado e desenvolvido por Daniel Carvalho<br>
            Copyright © 2023 Daniel Carvalho
        </div>
        <div class="icons">
            <a href="https://github.com/daneilhpp" target="_blank">
                <img id="githubicon" src="assets/githubicon.png">
            </a>
            <div id="line"></div>
            <a href="https://www.linkedin.com/in/dan-carvalho/" target="_blank">
                <img id="linkedinicon" src="assets/linkedinicon.png">
            </a>
        </div>
    </div>
</div>