<div class="home">
    <img id="blob1" src="assets/redBlob1.png">
    <div class="textInBlob">
        {{greeting}}!<br>
        Meu nome é Daniel
    </div>
    <img id="blob2" src="assets/redBlob2.png">
    <img id="blob3" src="assets/redBlob3.png">
    <img id="blob4" src="assets/redBlob4.png">
    <img id="blob5" src="assets/redBlob5.png">
    <div class="header">
        <a id="link" routerLink="">Home</a>
        <a id="link" routerLink="/about">Sobre</a>
        <a id="link" routerLink="/projects">Projetos</a>
        <a id="link" routerLink="/resume">Currículo</a>
    </div>
    <!-- <div class="headerBtn">
        <button id="headerBtn"><img id="headerBtnImg" src="assets/menu.png"></button>
        <div class="headerBlock">
            <a id="linkMobile" routerLink="">Home</a>
            <a id="linkMobile" routerLink="/about">Sobre</a>
            <a id="linkMobile" routerLink="/projects">Projetos</a>
            <a id="linkMobile" routerLink="/resume">Currículo</a>
        </div>
    </div> -->
    <div class="body">
        <div class="textBox1">
            <h4 id="titulo">Um pouco do que gosto</h4><br>
            Comecei a me interessar por programação em
            2019, onde estudei um pouco sobre Java. Depois
            disso decidi explorar esse mundo me formando
            como técnico.
        </div>
        <div class="textBox2">
            Lá eu aprendi<br>
            <a id="stacks" routerLink="/about">TypeScript | Java | Spring | C# | DotNet | MSSQL | MySQL | PostgreSQL</a>
        </div>
        <div class="textBox3">
            Porém minha experiência e interesse são focados no<br>
            stack de Spring e Angular, tendo <a routerLink="/projects" id="projetos">alguns projetos</a><br>
            desenvolvidos nos mesmos.
        </div>
        <div class="myDrawing">
            <img id="myDrawing" src="assets/myDrawing.png">
        </div>
    </div>
</div>
<div class="footer">
    <div class="text">
        Projetado e desenvolvido por Daniel Carvalho<br>
        Copyright © 2023 Daniel Carvalho
    </div>
    <div class="icons">
        <a href="https://github.com/daneilhpp" target="_blank">
            <img id="githubicon" src="assets/githubicon.png">
        </a>
        <div id="line"></div>
        <a href="https://www.linkedin.com/in/dan-carvalho/" target="_blank">
            <img id="linkedinicon" src="assets/linkedinicon.png">
        </a>
    </div>
</div>