.home{
    background-color: #EAEAEA;
    
}
.header{
    /* background-color: red; */

    position: absolute;
    right: 0;
    top: 50px;
    right: 50px;
}
.textInBlob{
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 7%;

    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    font-size: 30px;
}
.body{
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: bold;
    color: #000;

}

.textBox1{
    /* background-color: green; */

    position: absolute;
    right: 0;
    top: 200px;
    width: 50%;
    padding-right: 50px;
    
    text-align: right;
}
.textBox2{
    /* background-color: greenyellow; */

    margin-top: 70px;
    text-align: center;
}
.textBox3{
    /* background-color: lightgreen; */

    margin-top: 50px;

    text-align: center;
}

#titulo{
    font-weight: bolder;
}

#link{
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: bold;
    color: #000;
    text-decoration: none;

    margin-left: 20px;
}

#myDrawing{
    display: block;
    margin: 40px auto 0 auto;
    padding-bottom: 40px;

    width: 300px;
    height: inherit;
}

#blob1{
    /* background-color: blue; */

    width: 40%;
    height: inherit;

    position: absolute;
    top: 0;
    left: 0;
}
#blob2{
    width: 15%;
    height: inherit;

    position: relative;
    top: 450px;
    left: 0;
}
#blob3{
    width: 20%;
    height: inherit;

    position: relative;
    top: 1100px;
    margin-left: -210px;
}
#blob4{
    width: 20%;
    height: inherit;

    position: relative;
    top: 840px;
    margin-left: 80%;
}