<div class="home">
    <img id="blob1" src="assets/blob1.png">
    <div class="textInBlob">
        {{greeting}}!<br>
        Meu nome é Daniel
    </div>
    <img id="blob2" src="assets/blob2.png">
    <img id="blob3" src="assets/blob3.png">
    <img id="blob4" src="assets/blob4.png">
    <div class="header">
        <a id="link" routerLink="">Home</a>
        <a id="link" routerLink="/about">Sobre</a>
        <a id="link" routerLink="/projects">Projetos</a>
        <a id="link" routerLink="/resume">Currículo</a>
    </div>
    <div class="body">
        <div class="textBox1">
            <h4 id="titulo">Um pouco do que gosto</h4><br>
            Comecei a me interessar por programação em
            2019, onde estudei um pouco sobre Java. Depois
            disso decidi explorar esse mundo me formando
            como técnico.
        </div>
        <div class="textBox2">
            Lá eu aprendi<br>
            <div id="stacks">TypeScript | Java | Spring | C# | DotNet | MSSQL | MySQL | PostgreSQL</div>
        </div>
        <div class="textBox3">
            Porém minha experiência e interesse são focados no<br>
            stack de Spring e Angular, tendo <a routerLink="/projects" id="projetos">alguns projetos</a><br>
            desenvolvidos nos mesmos.
        </div>
        <img id="myDrawing" src="assets/myDrawing.png">
    </div>
</div>