<div class="about">
    <img id="blob1" src="assets/greenBlob1.png">
    <div class="textInBlob">
        Sobre mim
    </div>
    <!-- <img id="blob2" src="assets/greenBlob2.png">
    <img id="blob3" src="assets/greenBlob3.png">
    <img id="blob4" src="assets/greenBlob4.png">
    <img id="blob5" src="assets/greenBlob5.png"> -->
    <div class="header">
        <a id="link" routerLink="">Home</a>
        <a id="link" routerLink="/about">Sobre</a>
        <a id="link" routerLink="/projects">Projetos</a>
        <a id="link" routerLink="/resume">Currículo</a>
    </div>
    <div class="body">
        <div class="textBox1">
            <h4 id="titulo">Quem sou eu</h4><br>
            Me chamo Daniel, tenho 19 anos, nasci e moro no Brasil, em São Paulo Zona Norte.
            Sou programador Júnior em busca de uma oportunidade de demonstrar minha paixão em 
            entregar projetos prontos e funcionando da melhor forma possível.            
        </div>
        <div class="textBox2">
            “A falta de algo para sentir importante é quase a<br>
             maior tragédia que alguém pode ter.”<br>
                    - Arthur Morgan
        </div>
        <div class="skillBox">
        <div id="title">Minhas habilidades</div>
            <div class="col">
                <div class="row">
                    <img id="img" src="assets/spring.png">
                    <img id="img" src="assets/java.png">
                    <img id="img" src="assets/csharp.png">
                    <img id="img" src="assets/dotnet.png">
                </div>
                <div class="row">
                    <img id="img" src="assets/js.png">
                    <img id="img" src="assets/ts.png">
                    <img id="img" src="assets/angular.png">
                    <img id="img" src="assets/nodejs.png">
                </div>
                <div class="row">
                    <img id="img" src="assets/sqlserver.png">
                    <img id="img" src="assets/mysql.png">
                    <img id="img" src="assets/postgre.png">
                </div>
            </div>
        </div>
       <!--  <div class="toolBox">
            <span id="title">Minhas ferramentas</span>

        </div>
        <div class="commitsBox">
            <span id="title">Meus commits</span>

        </div> -->
    </div>
</div>
<div class="footer">
    <div class="text">
        Projetado e desenvolvido por Daniel Carvalho<br>
        Copyright © 2023 Daniel Carvalho
    </div>
    <div class="icons">
        <a href="https://github.com/daneilhpp" target="_blank">
            <img id="githubicon" src="assets/githubicon.png">
        </a>
        <div id="line"></div>
        <a href="https://www.linkedin.com/in/dan-carvalho/" target="_blank">
            <img id="linkedinicon" src="assets/linkedinicon.png">
        </a>
    </div>
</div>