<div class="about">
    <img id="blob1" src="assets/greenBlob1.png">
    <div class="textInBlob">
        Sobre mim
    </div>
    <!-- <img id="blob2" src="assets/greenBlob2.png">
    <img id="blob3" src="assets/greenBlob3.png">
    <img id="blob4" src="assets/greenBlob4.png">
    <img id="blob5" src="assets/greenBlob5.png"> -->
    <div class="header">
        <a id="link" routerLink="">Home</a>
        <a id="link" routerLink="/about">Sobre</a>
        <a id="link" routerLink="/projects">Projetos</a>
        <a id="link" routerLink="/resume">Currículo</a>
    </div>
    <div class="body">
        <div class="textBox1">
            <h4 id="titulo">Quem sou eu</h4><br>
            Me chamo Daniel, tenho 19 anos, nasci e moro no Brasil, em São Paulo Zona Norte.
            Sou programador Júnior em busca de uma oportunidade de demonstrar minha paixão em
            entregar projetos prontos e funcionando da melhor forma possível.
        </div>
        <div class="textBox2">
            “A falta de algo para sentir importante é quase a<br>
            maior tragédia que alguém pode ter.”<br>
            - Arthur Morgan
        </div>
        <div class="skillBox">
            <div id="title">Minhas habilidades</div>
            <div class="col">
                <div class="row">
                    <div class="borderImg">
                        <img id="spring" src="assets/spring.png">
                        <div>Spring</div>
                    </div>
                    <div class="borderImg">
                        <img id="java" src="assets/java.png">
                        <div id="javaT">Java</div>
                    </div>
                    <div class="borderImg">
                        <img id="csharp" src="assets/csharp.png">
                        <div id="csharpT">C#</div>
                    </div>
                    <div class="borderImg">
                        <img id="dotnet" src="assets/dotnet.png">
                        <div>DotNet</div>
                    </div>
                </div>
                <div class="row">
                    <div class="borderImg">
                        <img id="js" src="assets/js.png">
                        <div id="jsT">JavaScript</div>
                    </div>
                    <div class="borderImg">
                        <img id="ts" src="assets/ts.png">
                        <div id="tsT">TypeScript</div>
                    </div>
                    <div class="borderImg">
                        <img id="angular" src="assets/angular.png">
                        <div id="angularT">Angular</div>
                    </div>
                    <div class="borderImg">
                        <img id="nodejs" src="assets/nodejs.png">
                        <div id="nodejsT">NodeJS</div>
                    </div>
                </div>
                <div class="row">
                    <div class="borderImg" id="sqlserverB">
                        <img id="sqlserver" src="assets/sqlserver.png">
                        <div id="sqlserverT">Microsoft SQL</div>
                    </div>
                    <div class="borderImg">
                        <img id="mysql" src="assets/mysql.png">
                        <div>MySQL</div>
                    </div>
                    <div class="borderImg" id="postgreB">
                        <img id="postgre" src="assets/postgre.png">
                        <div id="postgreT">PostgreSQL</div>
                    </div>
                </div>
            </div>
            <!-- <div class="col">
                <div class="row">
                    <img id="spring" src="assets/spring.png">
                    <span id="springT">Spring</span>
                    <img id="java" src="assets/java.png">
                    <span id="javaT">Java</span>
                    <img id="csharp" src="assets/csharp.png">
                    <span id="csharpT">C#</span>
                    <img id="dotnet" src="assets/dotnet.png">
                    <span id="dotnetT">DotNet</span>
                </div>
                <div class="row">
                    <img id="js" src="assets/js.png">
                    <span id="jsT">JavaScript</span>
                    <img id="ts" src="assets/ts.png">
                    <span id="tsT">TypeScript</span>
                    <img id="angular" src="assets/angular.png">
                    <span id="angularT">Angular</span>
                    <img id="nodejs" src="assets/nodejs.png">
                    <span id="nodejsT">NodeJS</span>
                </div>
                <div class="row">
                    <img id="sqlserver" src="assets/sqlserver.png">
                    <span id="sqlserverT">Microsoft SQL Server</span>
                    <img id="mysql" src="assets/mysql.png">
                    <span id="mysqlT">MySQL</span>
                    <img id="postgre" src="assets/postgre.png">
                    <span id="postgreT">PostgreSQL</span>
                </div>
            </div> -->
        </div>
        <!-- <div class="textAppearing">
            <span id="springT">Spring</span>
            <span id="javaT">Java</span>
            <span id="csharpT">C#</span>
            <span id="dotnetT">DotNet</span>
            <span id="jsT">JavaScript</span>
            <span id="tsT">TypeScript</span>
            <span id="angularT">Angular</span>
            <span id="nodejsT">NodeJS</span>
            <span id="sqlserverT">Microsoft SQL Server</span>
            <span id="mysqlT">MySQL</span>
            <span id="postgreT">PostgreSQL</span>
        </div> -->
        <!--  <div class="toolBox">
            <span id="title">Minhas ferramentas</span>

        </div>
        <div class="commitsBox">
            <span id="title">Meus commits</span>

        </div> -->
    </div>
</div>
<div class="footer">
    <div class="text">
        Projetado e desenvolvido por Daniel Carvalho<br>
        Copyright © 2023 Daniel Carvalho
    </div>
    <div class="icons">
        <a href="https://github.com/daneilhpp" target="_blank">
            <img id="githubicon" src="assets/githubicon.png">
        </a>
        <div id="line"></div>
        <a href="https://www.linkedin.com/in/dan-carvalho/" target="_blank">
            <img id="linkedinicon" src="assets/linkedinicon.png">
        </a>
    </div>
</div>