<div class="footer">
    <div class="text">
        Projetado e desenvolvido por Daniel Carvalho<br>
        Copyright © 2023 Daniel Carvalho
    </div>
    <div class="icons">
        <a href="https://github.com/daneilhpp" target="_blank">
            <img id="githubicon" src="assets/githubicon.png">
        </a>
        <div id="line"></div>
        <a href="https://www.linkedin.com/in/dan-carvalho/" target="_blank">
            <img id="linkedinicon" src="assets/linkedinicon.png">
        </a>
    </div>
</div>