<div class="resume">
    <img id="blob1" src="assets/orangeBlob1.png">
    <div class="textInBlob">
        Pode me chamar!
    </div>
    <img id="blob2" src="assets/orangeBlob2.png">
    <img id="blob3" src="assets/orangeBlob3.png">
    <img id="blob4" src="assets/orangeBlob4.png">
    <img id="blob5" src="assets/orangeBlob5.png">
    <div class="header">
        <a id="link" routerLink="">Home</a>
        <a id="link" routerLink="/about">Sobre</a>
        <a id="link" routerLink="/projects">Projetos</a>
        <a id="link" routerLink="/resume">Currículo</a>
    </div>
    <div class="body">
        <div class="textBox1">
            Você pode entrar em contato comigo pelo <a id="dmLink" href="https://wa.me/5511992146815" target="_blank">whatsapp</a> ou <a id="dmLink" href="https://www.linkedin.com/in/dan-carvalho" target="_blank">linkedin</a><br>
            Ou também pode acessar e baixar meu currículo diretamente por aqui!
        </div>
        <div class="resumeImage">
            <a href="assets/Curriculo_Daniel_Carvalho.pdf" download="Curriculo_Daniel_Carvalho.pdf"><img src="assets/resumeImg.jpg" id="resumeImg"></a>
        </div>
        <div class="downloadBtn">
            <a id="button" href="assets/Curriculo_Daniel_Carvalho.pdf" download="Curriculo_Daniel_Carvalho.pdf">Baixar</a>
        </div>
    </div>
    <div class="footer">
        <div class="text">
            Projetado e desenvolvido por Daniel Carvalho<br>
            Copyright © 2023 Daniel Carvalho
        </div>
        <div class="icons">
            <a href="https://github.com/daneilhpp" target="_blank">
                <img id="githubicon" src="assets/githubicon.png">
            </a>
            <div id="line"></div>
            <a href="https://www.linkedin.com/in/dan-carvalho/" target="_blank">
                <img id="linkedinicon" src="assets/linkedinicon.png">
            </a>
        </div>
    </div>
</div>